<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Информация о читателе</title>
</head>
<body>
<p th:text="${person.getFullName()+ ', ' +person.getYearBirth()}">VALUE</p>
<!--
<p th:text="${person.getYearBirth()}">VALUE</p>
-->

<div th:if="${books.isEmpty()}">
    <p>У читателя нет взятых книг</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">book</tr>
    </table>
    <hr/>
</div>
<table>
    <tr>
        <td>
            <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>
        <td width="5px"></td>
        <td>
            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    <tr height="10px"/>
    <tr>
        <td>
            <a href="/people">Вернутся к списку читателей</a>
        </td>
    </tr>
</table>
</body>
</html>