<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<!--<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Введите название книги:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
    <br/>
    <label for="author">Введите автора книги:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
    <br/>
    <label for="yearOfPublication">Введите год публикации:</label>
    <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">yearBirth
        error
    </div>
    <br/>
    <input type="submit" value="Добавить книгу"/>
</form>-->
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <table>
        <tr>
            <td>
                <label for="title">Введите название книги:</label>
            </td>
            <td>
                <input type="text" th:field="*{title}" id="title"/>
                <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="author">Введите автора книги:</label>
            </td>
            <td>
                <input type="text" th:field="*{author}" id="author"/>
                <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="yearOfPublication">Введите год публикации:</label>
            </td>
            <td>
                <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
                <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}"
                     th:errors="*{yearOfPublication}">yearBirth error
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Добавить книгу"/>
            </td>
            <td>
                <a href="/books">Вернуться к списку книг</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>